<h1>Player Rushing Stats</h1>

<%= form_tag player_rushing_stats_path, method: :get do %>
  <%= text_field_tag :player_name, params[:player_name] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<br>

<%= link_to 'Download CSV', player_rushing_stats_path(params.merge(format: 'csv').permit(:player_name, :sort_column, :sort_order, :format)) %>

<br>
<br>

<table id="player-stats-table">
  <tr>
    <th><%= 'Player' %></th>
    <th><%= 'Team' %></th>
    <th><%= 'Pos' %></th>
    <th><%= 'Att' %></th>
    <th><%= 'Att/G' %></th>
    <th><%= sortable 'total_rushing_yards', 'Yds' %></th>
    <th><%= 'Avg' %></th>
    <th><%= 'Yds/G' %></th>
    <th><%= sortable 'total_rushing_touchdowns', 'TD' %></th>
    <th><%= sortable 'longest_rush', 'Lng' %></th>
    <th><%= '1st' %></th>
    <th><%= '1st%' %></th>
    <th><%= '20+' %></th>
    <th><%= '40+' %></th>
    <th><%= 'FUM' %></th>
  </tr>
  <% for player_rushing_stat in @player_rushing_stats %>
      <tr>
        <td><%= player_rushing_stat.player_name %></td>
        <td><%= player_rushing_stat.player_team %></td>
        <td><%= player_rushing_stat.player_position %></td>
        <td><%= player_rushing_stat.rushing_attempts %></td>
        <td><%= player_rushing_stat.rushing_attempts_per_game_avg %></td>
        <td><%= player_rushing_stat.total_rushing_yards %></td>
        <td><%= player_rushing_stat.rushing_average_yards_per_attempt %></td>
        <td><%= player_rushing_stat.rushing_yards_per_game %></td>
        <td><%= player_rushing_stat.total_rushing_touchdowns %></td>
        <td><%= "#{player_rushing_stat.longest_rush}#{player_rushing_stat.longest_rush_with_touchdown ? 'T' : ''}" %></td>
        <td><%= player_rushing_stat.rushing_first_downs %></td>
        <td><%= player_rushing_stat.rushing_first_down_percentage %></td>
        <td><%= player_rushing_stat.rushing_twenty_plus_yards %></td>
        <td><%= player_rushing_stat.rushing_forty_plus_yards %></td>
        <td><%= player_rushing_stat.rushing_fumbles %></td>
      </tr>
  <% end %>
</table>

<br>
<br>
<%= will_paginate @player_rushing_stats %>